<script src="~/Scripts/script.js"></script>
<div class="body-decijaO">
    <img src="~/Content/slike/kids.jpg" />
    <h1>@ViewBag.Title</h1>
    <div class="decijaO">
        <div class="patikeD" data-naziv="NikeD1" data-brend="nike" data-cena="8639">
            <img src="~/Content/slike/nikeD.jpg" />
            <p>NikeD1</p>
            <p>8.639,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD1" data-brend="adidas" data-cena="1559">
            <img src="~/Content/slike/adidasD.jpg" />
            <p>AdidasD1</p>
            <p>1.559,00</p>
        </div>
        <div class="patikeD" data-naziv="NikeD2" data-brend="nike" data-cena="3439">
            <img src="~/Content/slike/nike2D.jpg" />
            <p>NikeD2</p>
            <p>3.439,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD2" data-brend="adidas" data-cena="4799">
            <img src="~/Content/slike/adidas2D.jpg" />
            <p>AdidasD2</p>
            <p>4.799,00</p>
        </div>
        <div class="patikeD" data-naziv="NikeD3" data-brend="nike" data-cena="2399">
            <img src="~/Content/slike/nike3D.jpg" />
            <p>NikeD3</p>
            <p>2.399,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD3" data-brend="adidas" data-cena="4799">
            <img src="~/Content/slike/adidas3D.jpg" />
            <p>AdidasD3</p>
            <p>4.799,00</p>
        </div>
        <div class="patikeD" data-naziv="NikeD4" data-brend="nike" data-cena="3439">
            <img src="~/Content/slike/nike4D.jpg" />
            <p>NikeD4</p>
            <p>3.439,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD4" data-brend="adidas" data-cena="7899">
            <img src="~/Content/slike/adidas4D.jpg" />
            <p>AdidasD4</p>
            <p>7.899,00</p>
        </div>
        <div class="patikeD" data-naziv="NikeD5" data-brend="nike" data-cena="9999">
            <img src="~/Content/slike/nike5D.jpg" />
            <p>NikeD5</p>
            <p>9.999,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD5" data-brend="adidas" data-cena="1699">
            <img src="~/Content/slike/adidas5D.jpg" />
            <p>AdidasD5</p>
            <p>1.699,00</p>
        </div>
        <div class="patikeD" data-naziv="NikeD6" data-brend="nike" data-cena="2319">
            <img src="~/Content/slike/nike6D.jpg" />
            <p>NikeD6</p>
            <p>2.319,00</p>
        </div>
        <div class="patikeD" data-naziv="AdidasD6" data-brend="adidas" data-cena="7599">
            <img src="~/Content/slike/adidas6D.jpg" />
            <p>AdidasD6</p>
            <p>7.599,00</p>
        </div>
    </div>
    <p>@Html.ActionLink("Naruči obuću", "NarudzbaD","Pages")</p>
</div>

