<script src="~/Scripts/script.js"></script>
<div class="body-muskaO">   
    <img src="~/Content/slike/men.jpg" />
    <h1>@ViewBag.Title</h1>
    <div class="muskaO">
        <div class="patikeM" data-naziv="NikeM" data-brend="nike" data-cena="18639">
            <img src="~/Content/slike/nikeM.jpg" />
            <p>NikeM</p>
            <p>18.639,00</p>
        </div>
        <div class="patikeM" data-naziv="AdidasM" data-brend="adidas" data-cena="10559">
            <img src="~/Content/slike/adidasM.jpg" />
            <p>AdidasM</p>
            <p>10.559,00</p>
        </div>
        <div class="patikeM" data-naziv="NewBalenceM" data-brend="new balence" data-cena="13439">
            <img src="~/Content/slike/newbalanceM.jpg" />
            <p>NewBalenceM</p>
            <p>13.439,00</p>
        </div>
        <div class="patikeM" data-naziv="AsicsM" data-brend="asics" data-cena="14799">
            <img src="~/Content/slike/asicsM.jpg" />
            <p>AsicsM</p>
            <p>14.799,00</p>
        </div>
        <div class="patikeM" data-naziv="PumaM" data-brend="puma" data-cena="12399">
            <img src="~/Content/slike/pumaM.jpg" />
            <p>PumaM</p>
            <p>12.399,00</p>
        </div>
        <div class="patikeM" data-naziv="ReebokM" data-brend="reebok" data-cena="14799">
            <img src="~/Content/slike/reebokM.jpg" />
            <p>ReebokM</p>
            <p>14.799,00</p>
        </div>
        <div class="patikeM" data-naziv="HokaM" data-brend="hoka" data-cena="13439">
            <img src="~/Content/slike/hokaM.jpg" />
            <p>HokaM</p>
            <p>13.439,00</p>
        </div>
        <div class="patikeM" data-naziv="OnM" data-brend="on" data-cena="17899">
            <img src="~/Content/slike/onM.jpg" />
            <p>OnM</p>
            <p>17.899,00</p>
        </div>
        <div class="patikeM" data-naziv="UggM" data-brend="ugg" data-cena="19999">
            <img src="~/Content/slike/uggM.jpg" />
            <p>UggM</p>
            <p>19.999,00</p>
        </div>
        <div class="patikeM" data-naziv="ConverseM" data-brend="converse" data-cena="11699">
            <img src="~/Content/slike/converseM.jpg" />
            <p>ConverseM</p>
            <p>11.699,00</p>
        </div>
        <div class="patikeM" data-naziv="VansM" data-brend="vans" data-cena="12319">
            <img src="~/Content/slike/vansM.jpg" />
            <p>VansM</p>
            <p>12.319,00</p>
        </div>
        <div class="patikeM" data-naziv="TheNorthFaceM" data-brend="the north face" data-cena="17599">
            <img src="~/Content/slike/northfaceM.jpg" />
            <p>TheNorthFaceM</p>
            <p>17.599,00</p>
        </div>
    </div>
    <p>@Html.ActionLink("Naruči obuću", "NarudzbaM","Pages")</p>
</div>

