<script src="~/Scripts/script.js"></script>
<div class="body-zenskaO">
    <img src="~/Content/slike/women.jpg" />
    <h1>@ViewBag.Title</h1>
    <div class="zenskaO">
        <div class="patikeZ" data-naziv="NikeZ" data-brend="nike" data-cena="18639">
            <img src="~/Content/slike/nikeZ.jpg" />
            <p>NikeZ</p>
            <p>18.639,00</p>
        </div>
        <div class="patikeZ" data-naziv="AdidasZ" data-brend="adidas" data-cena="10559">
            <img src="~/Content/slike/adidasZ.jpg" />
            <p>AdidasZ</p>
            <p>10.559,00</p>
        </div>
        <div class="patikeZ" data-naziv="NewBalenceZ" data-brend="new balence" data-cena="13439">
            <img src="~/Content/slike/newbalanceZ.jpg" />
            <p>NewBalenceZ</p>
            <p>13.439,00</p>
        </div>
        <div class="patikeZ" data-naziv="AsicsZ" data-brend="asics" data-cena="14799">
            <img src="~/Content/slike/asicsZ.jpg" />
            <p>AsicsZ</p>
            <p>14.799,00</p>
        </div>
        <div class="patikeZ" data-naziv="PumaZ" data-brend="puma" data-cena="12399">
            <img src="~/Content/slike/pumaZ.jpg" />
            <p>PumaZ</p>
            <p>12.399,00</p>
        </div>
        <div class="patikeZ" data-naziv="ReebokZ" data-brend="reebok" data-cena="14799">
            <img src="~/Content/slike/reebokZ.jpg" />
            <p>ReebokZ</p>
            <p>14.799,00</p>
        </div>
        <div class="patikeZ" data-naziv="HokaZ" data-brend="hoka" data-cena="13439">
            <img src="~/Content/slike/hokaZ.jpg" />
            <p>HokaZ</p>
            <p>13.439,00</p>
        </div>
        <div class="patikeZ" data-naziv="OnZ" data-brend="on" data-cena="17899">
            <img src="~/Content/slike/onZ.jpg" />
            <p>OnZ</p>
            <p>17.899,00</p>
        </div>
        <div class="patikeZ" data-naziv="UggZ" data-brend="ugg" data-cena="19999">
            <img src="~/Content/slike/uggZ.jpg" />
            <p>UggZ</p>
            <p>19.999,00</p>
        </div>
        <div class="patikeZ" data-naziv="ConverseZ" data-brend="converse" data-cena="11699">
            <img src="~/Content/slike/converseZ.jpg" />
            <p>ConverseZ</p>
            <p>11.699,00</p>
        </div>
        <div class="patikeZ" data-naziv="VansZ" data-brend="vans" data-cena="12319">
            <img src="~/Content/slike/vansZ.jpg" />
            <p>VansZ</p>
            <p>12.319,00</p>
        </div>
        <div class="patikeZ" data-naziv="MoonBootZ" data-brend="moon boot" data-cena="17599">
            <img src="~/Content/slike/moonbootZ.jpg" />
            <p>MoonBootZ</p>
            <p>17.599,00</p>
        </div>
    </div>
    <p>@Html.ActionLink("Naruči obuću", "NarudzbaZ", "Pages")</p>
</div>
