<div class="body-brendovi">
    <h1>BRENDOVI</h1>
    <br>
    <div class="brend"><img src="~/Content/slike/nikeB.png" /></div>
    <div class="brend"><img src="~/Content/slike/adidasB.png" /></div>
    <div class="brend"><img src="~/Content/slike/newbalenceB.png" /></div>
    <div class="brend"><img src="~/Content/slike/asicsB.png" /></div>
    <div class="brend"><img src="~/Content/slike/pumaB.png" /></div>
    <div class="brend"><img src="~/Content/slike/reebokB.png" /></div>
    <div class="brend"><img src="~/Content/slike/acbcB.png" /></div>
    <div class="brend"><img src="~/Content/slike/dotB.png" /></div>
    <div class="brend"><img src="~/Content/slike/neweraB.png" /></div>
    <div class="brend"><img src="~/Content/slike/ellesseB.png" /></div>
    <div class="brend"><img src="~/Content/slike/hokaB.png" /></div>
    <div class="brend"><img src="~/Content/slike/onB.png" /></div>
    <div class="brend"><img src="~/Content/slike/russelB.png" /></div>
    <div class="brend"><img src="~/Content/slike/uggB.png" /></div>
    <div class="brend"><img src="~/Content/slike/converseB.png" /></div>
    <div class="brend"><img src="~/Content/slike/juicycoutureB.png" /></div>
    <div class="brend"><img src="~/Content/slike/vansB.png" /></div>
    <div class="brend"><img src="~/Content/slike/napapirjiB.png" /></div>
    <div class="brend"><img src="~/Content/slike/timberlandB.png" /></div>
    <div class="brend"><img src="~/Content/slike/montB.png" /></div>
    <div class="brend"><img src="~/Content/slike/crepB.png" /></div>
    <div class="brend"><img src="~/Content/slike/spraygroundB.png" /></div>
    <div class="brend"><img src="~/Content/slike/crocsB.png" /></div>
    <div class="brend"><img src="~/Content/slike/stanceB.png" /></div>
    <div class="brend"><img src="~/Content/slike/dfnsB.png" /></div>
    <div class="brend"><img src="~/Content/slike/colmarB.png" /></div>
    <div class="brend"><img src="~/Content/slike/moonbootB.png" /></div>
    <div class="brend"><img src="~/Content/slike/northfaceB.jpg" /></div>
</div>

