<div class="body-pocetna">
    <img src="~/Content/slike/patike.jpg" />
    <div class="pocetna-pol">
        <a href="~/Obuca/Muska">
        <div class="muskarci-pol">
            <img src="~/Content/slike/muskarci.jpg" />
            <h4>Muška obuća</h4>
        </div></a>
        <a href="~/Obuca/Zenska">
        <div class="zene-pol">
            <img src="~/Content/slike/zene.jpg" />
            <h4>Ženska obuća</h4>
        </div></a>
        <a href="~/Obuca/Decija">
        <div class="deca-pol">
            <img src="~/Content/slike/deca.jpg" />
            <h4>Dečija obuća</h4>
        </div></a>
    </div>
    <div class="pocetna-marka">
        <div class="marka">
            <img src="~/Content/slike/nike.jpg" />
            <h4>Nike</h4>
            <p>Always on trend</p>
        </div>
        <div class="marka">
            <img src="~/Content/slike/adidas.jpg" />
            <h4>Adidas</h4>
            <p>Be stylish and confident</p>
        </div>
        <div class="marka">
            <img src="~/Content/slike/newbalance.jpg" />
            <h4>New Balence</h4>
            <p>Explore New Balence Style</p>
        </div>
    </div>
    <div class="pocetna-brend" role="listbox">
        <img src="~/Content/slike/nikeB.png" />
        <img src="~/Content/slike/adidasB.png" />
        <img src="~/Content/slike/newbalenceB.png" />
        <img src="~/Content/slike/asicsB.png" />
        <img src="~/Content/slike/pumaB.png" />
        <img src="~/Content/slike/reebokB.png" />
        <img src="~/Content/slike/acbcB.png" />
        <img src="~/Content/slike/dotB.png" />
        <img src="~/Content/slike/neweraB.png" />
        <img src="~/Content/slike/ellesseB.png" />
        <img src="~/Content/slike/hokaB.png" />
        <img src="~/Content/slike/onB.png" />
        <img src="~/Content/slike/russelB.png" />
        <img src="~/Content/slike/uggB.png" />
        <img src="~/Content/slike/converseB.png" />
        <img src="~/Content/slike/juicycoutureB.png" />
        <img src="~/Content/slike/vansB.png" />
        <img src="~/Content/slike/napapirjiB.png" />
        <img src="~/Content/slike/timberlandB.png" />
        <img src="~/Content/slike/montB.png" />
        <img src="~/Content/slike/crepB.png" />
    </div>
</div>
